@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Current User: @ViewData["name"]</p>
    <p>Authenticated: @ViewData["authenticated"]</p>
    <p>Service User: @ViewData["serviceUser"]</p>
    <p>User To Impersonate: @ViewData["userToImpersonate"]</p>
    <p>Impersonated User: @ViewData["impersonatedUser"]</p>
</div>
